
# CUS620, Class Exercise1
## Your full name: 
--------------
- ### Note1: you can use this temaplet to answer questions such as class Exercise and HWs
- ### Note2: chnage the file name respect to type of assignment, for example: CUS620_Class_Ex1_LastName or CUS620_HW1_LastName
---------
### if you need help on how to write in Jupyter see here: 
- Jupyter notebook tutorial: [link](https://nbviewer.jupyter.org/github/ipython/ipython/blob/3.x/examples/Notebook/Index.ipynb)
- basic: [link](https://docs.github.com/en/github/writing-on-github/basic-writing-and-formatting-syntax)
- advance: [link](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting)

# Even Questions from Text book, Chapter: 2

In [159]:

# 2.12, here I provide an example question 2.12
# Start by evalauting, in the interactive shell or jupyter, the assigining:
#s1 = '-'
#s2 = '+'
# Now write string expressions involving s1 and s2 and string operators + and * that evaluate t:

In [160]:
#2.12 (a) '-+'
s1 = '-'
s2 = '+'
s1 + s2

'-+'

In [161]:
# 2.12 (b): '-+-'
s1 + s2 + s1

'-+-'

In [162]:
#2.12 (c) '+--'
s2 + 2*s1

'+--'

In [163]:
#2.12 (d) '+--+--'
2 * (s2 + 2 * s1)

'+--+--'

In [164]:
(s2 + s1+s1)*2

'+--+--'

In [165]:
#2.12 (e) '+--+--+--+--+--+--+--+--+--+--+'
10 * (s2 + 2 * s1) + s2

'+--+--+--+--+--+--+--+--+--+--+'

In [166]:
#2.12 (f) '+-+++--+-+++--+-+++--+-+++--+-+++--'
5 * (s2 + s1 + 3 * s2 + 2 * s1)

'+-+++--+-+++--+-+++--+-+++--+-+++--'

# 2.14 Start by executing s = 'goodbye'
Then write a Boolean expression that checks whether: 
(a) The first character of string s is 'g'
(b) The seventh character of s is 'g'
(c) The first two characters of s are 'g' and 'a' 
(d) The next to last character of s is 'x'
(e) The middle character of s is 'd'
(f) The first and last characters of string s are equal
(g) The last four characters of string s match the string 'tion'
Note: These seven statements should evaluate to True, False, False, False, True, False, and False, respectively.

In [167]:
s = 'goodbye'

In [168]:
#(a) The first character of string s is 'g'
s[0] == 'g'

True

In [169]:
#(b) The seventh character of s is 'g'
s[6] == 'g'

False

In [170]:
#(c) The first two characters of s are 'g' and 'a'
s[0:2]  == ('ga')

False

In [171]:
#(d) The next to last character of s is 'x'
s[5] == 'x'

False

In [172]:
#(e) The middle character of s is 'd'
s[3] == 'd'

True

In [173]:
#(f) The first and last characters of string s are equal
s[0] == s[6]

False

In [174]:
#(g) The last four characters of string s match the string 'tion'
s[3:7] == 'tion'

False

# 2.16 Write the corresponding Python assignment statements:
(a) Assign 6 to variable a and 7 to variable b.
(b) Assign to variable c the average of variables a and b.
(c) Assign to variable inventory the list containing strings 'paper', 'staples', and
'pencils'.
(d) Assign to variables first, middle and last the strings 'John', 'Fitzgerald',
and 'Kennedy'.
(e) Assign to variable fullname the concatenation of string variables first, middle,
and last. Make sure you incorporate blank spaces appropriately.

In [175]:
#(a) Assign 6 to variable a and 7 to variable b.
a = 6 
b =7
print(a,b)

6 7

In [176]:
#(b) Assign to variable c the average of variables a and b.
c= (a+b)/2
c

6.5

In [177]:
#(c) Assign to variable inventory the list containing strings 'paper', 'staples', and'pencils'.
inventory = ['paper', 'staples','pencils']
inventory

['paper', 'staples', 'pencils']

In [178]:
#(d) Assign to variables first, middle and last the 
#strings 'John', 'Fitzgerald', and 'Kennedy'.
first ='john' 
middle = 'Fitzgerald'
last= 'Kennedy'
print(first)
print(middle)
print(last)

john
Fitzgerald
Kennedy

In [179]:
#(e) Assign to variable fullname the concatenation of string variables first, middle,
#and last. Make sure you incorporate blank spaces appropriately.
fullname = first +" "+ middle +" "+ last
print(fullname)

john Fitzgerald Kennedy

# 2.18 Write Python statements corresponding to the following:
(a) Assign to variable flowers a list containing strings 'rose', 'bougainvillea',
'yucca', 'marigold', 'daylilly', and 'lilly of the valley'.
(b) WriteaBooleanexpressionthatevaluatestoTrueifstring'potato'isinlistflowers,
and evaluate the expression.
(c) Assign to list thorny the sublist consisting of the first three objects in list flowers.
(d) Assigntolistpoisonousthesublistconsistingofjustthelastobjectoflistflowers.
(e) Assign to list dangerous the concatenation of lists thorny and poisonous.

In [180]:
#(a) Assign to variable flowers a list containing strings 'rose', 'bougainvillea',
# 'yucca', 'marigold', 'daylilly', and 'lilly of the valley'.
flowers = ['rose', 'bougainvillea','yucca', 'marigold', 'daylilly', 'lilly of the valley']
print(flowers)

['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']

In [181]:
#Write a Boolean expression that evaluates to True if string'potato'is in list flowers,
#and evaluate the expression.
'potato' in [flowers]

False

In [182]:
#(c) Assign to list thorny the sublist consisting of the first three objects in list flowers.
thorny=[flowers[0],flowers[1],flowers[2]]
thorny

['rose', 'bougainvillea', 'yucca']

In [183]:
#(d) Assign to list poisonous the sublist consisting of just the last object of list flowers.
poisonous=[flowers[-1]]
poisonous

['lilly of the valley']

In [184]:
#(e) Assign to list dangerous the concatenation of lists thorny and poisonous.
dangerous=thorny+poisonous
print(dangerous)

['rose', 'bougainvillea', 'yucca', 'lilly of the valley']

# 2.20 
Write an expression involving a three-letter string s that evaluates to a string whose characters are the characters of s in reverse order. If s is 'top', the expression should evaluate to 'pot'.

In [185]:
s='top'
s[::-1]

'pot'

In [186]:
#alternative answer
s[-1]+s[-2]+s[-3]

'pot'

# 2.22 
The range of a list of numbers is the largest difference between any two numbers in the list. Write a Python expression that computes the range of a list of numbers lst. If the list lst is,say,[3, 7, -2, 12],the expression should evaluate to 14(the difference between 12 and −2).

In [187]:
lst = [3, 7, -2, 12]
lst = max(lst)-min(lst)
lst

14

# 2.24 
Start by assigning to variable grades a list containing an arbitrary sequence of grades (strings) 'A', 'B', 'C', 'D', and 'F'. For example:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']
Write a sequence of Python statements that ultimately produce a list count that contains the numbers of occurrences of each grade in list grades in alphabetic order. For the given example, the list count should be [4, 4, 2, 2, 1].

# grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']
grades.sort()
A=grades.count('A')
B=grades.count('B')
C=grades.count('C')
D=grades.count('D')
F=grades.count('F')
lst = [A,B,C,D,F] 
lst

In [188]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B'] 
A=grades.count('A')
B=grades.count('B')
C=grades.count('C')
D=grades.count('D')
F=grades.count('F')

x = [A,B,C,D,F] 
print(x)

[4, 4, 2, 2, 1]

In [ ]:
grades = ['B','B','F','C','B','A','A','D','C','D','A','A','B']
count = [] #we create an empty list to store the number of times each letter appears in the list grades
count.append(grades.count('A'))#start with inner parenthesis- use function count to count
#how many times the letter A appears in list grades. This number gets stored at the end of the list count_1
#using the append function
count.append(grades.count('B'))
count.append(grades.count('C'))
count.append(grades.count('D'))
count.append(grades.count('F'))
#count function- returns the number of times the data occurs in the list- do list.count(data)
#append function- inserts data to the END of the list- do list.append(data)
print(count_1)

# 2.26 
A dartboard of radius 10 and the wall it is hanging on are represented using the two- dimensional coordinate system, with the board’s center at coordinate (0, 0). Variables x and y store the x- and y-coordinate of a dart hit. Write an expression using variables x and y that evaluates to True if the dart hits (is within) the dartboard, and evaluate the expression for these dart coordinates:
(a) (0,0) 
(b) (10,10) 
(c) (6,−6) 
(d) (−7,8)

In [208]:
#(a) (0,0)
x = 0
y = 0
print((x**2) + (y**2) <= (10**2))

True

In [209]:
#(b) (10,10)
x = 10
y = 10
print((x**2) + (y**2) <= (10**2))

False

In [210]:
#(c) (6,−6)
x = 6
y = -6
print((x**2) + (y**2) <= (10**2))

True

In [211]:
#(d) (−7,8)
x = -7
y = 8
print((x**2) + (y**2) <= (10**2))

False

# another way to do this question 2.26 with inbuilt math function

In [236]:
import math
x=0
y=0

In [237]:
#(a) (0,0)
a=math.sqrt((0-0)**2+(0-0)**2)
print(a<r)

True

In [238]:
#(b) (10,10)
b=math.sqrt((10-0)**2+(10-0)**2)
print(b<r)

False

In [239]:
#(c) (6,−6)
c=math.sqrt((6-0)**2+(6-0)**2)
print(c<r)

True

In [240]:
#(d) (−7,8)

d=math.sqrt((8-0)**2+(7-0)**2)
print(d<r)

False

# 2.28
Write the relevant Python expression or statement, involving a list of numbers lst and using list operators and methods for these specifications:
(a) An expression that evaluates to the index of the middle element of lst 
(b) An expression that evaluates to the middle element of lst
(c) A statement that sorts the list lst in descending order
(d) A statement that removes the first number of list lst and puts it at the end
Note: If a list has even length, then the middle element is defined to be the rightmost of the two elements in the middle of the list.

In [226]:
# (a) An expression that evaluates to the index of the middle element of lst
lst=[1,11,15,17,10]
len(lst)//2

2

In [227]:
#(b) An expression that evaluates to the middle element of lst
lst[len(lst)//2]

15

In [223]:
#(c) A statement that sorts the list lst in descending order
lst.sort()
lst.reverse()
lst

[17, 15, 11, 10, 1]

In [228]:
# alternative answer
lst.sort(reverse=True) 
lst

[17, 15, 11, 10, 1]

In [229]:
# (d) A statement that removes the first number of list lst and puts it at the end
x=lst.pop(0)
lst.append(x)
lst

[15, 11, 10, 1, 17]

# 2.30 
Using an example of your own, explicitly convert some string to a list. Describe, in your own words, the behavior of the list constructor on a string input.

In [2]:
#example 1 

s = "Hi this is cus620 class"
s.split(" ")

['Hi', 'this', 'is', 'cus620', 'class']

I think .split() is a separator which works as a delimiter. The string splits at this specified separator. If is not provided then any white space is a separator.

In [244]:
#example 2 

s = "st johns CUS620"
list(s)

['s', 't', ' ', 'j', 'o', 'h', 'n', 's', ' ', 'C', 'U', 'S', '6', '2', '0']

# Exercise 1.1: The interpreter
Open the Python interpeter. What happens when you input the following statements: (a) 3 + 1
(b) 3 * 3
(c) 2 ** 3
(d) "Hello, world!"

In [ ]:
3+1 #we just add numbers

In [ ]:
3*3 #multiply the numbers

In [ ]:
2**3 #python way to to 2^3

In [ ]:
"Hello, world!" # we printing string we can use ''single quote or ""double quote too

# Exercise 1.2:
Scripts

Now copy the above to a script, and save it as script1.py. What happens if you run the script? (try: python script1.py). Can you fix this (hint: use the print function)

no need to answer because we using jupyter

# Exercise 1.3: More interpreter
Explain the output of the following statements if executed subsequently: 
(a) ‘py’ + ‘thon’
(b) ‘py’ * 3 + ‘thon’
(c) ‘py’ - ‘py’
(d) ‘3’ + 3 
(e)3 *‘3’ 
(f) a
(g) a = 3
(h) a

In [ ]:
# (a) ‘py’ + ‘thon’
'py'+'thon' # this take the string 'py' and add to 'thon' so, the output is 'python' so basically we adding 2 strings

In [ ]:
#(b) ‘py’ * 3 + ‘thon’
'py'* 3 +'thon' #it multiplies py 3 time and then add thon in the end

In [ ]:
#(c) ‘py’ - ‘py’
'py'-'py' #we cannot perform mathematical operations on strings like - operator but + operator works 
            #because it performs concatenation,which means joining the strings by linking them end-to-end

In [ ]:
#(d) ‘3’ + 3 
'3'+3   #we cannot perform mathematical operations on strings like - operator. it cannot concatenate int to str
        #we cannot add a string to an integer.

In [ ]:
#(e)3 *‘3’
3 *'3' #it takes 3 and multliplies with string '3' which makes '333'

In [ ]:
#(f) a
a #this will not give any output because we did not assign anything to a 
    #but since i used other homework question in this notebook it's taking 6 from my previous questions

In [ ]:
#(g) a = 3
a = 3 # we assigning 3 to variable a here 
a

In [ ]:
#(h) a 
a # this is calling a which is assigned 3 in (g) question a=3

# Exercise 1.4: 
Booleans
Explain the output of the following statements:
(a) 1 == 1
(b) 1 == True
(c) 0 == True 
(d) 0 == False 
(e) 3 == 1 * 3
(f) (3 == 1) * 3
(g) (3 == 3) * 4 + 3 == 1 
(h) 3**5 >= 4**4

In [ ]:
#(a) 1 == 1 
1 == 1 #it checks is 1 equals to 1?  which is equal so, TRUE

In [ ]:
#(b) 1 == True 
1 == True #because 1 is TRUE in binary and in python it also works same 1=true, 0=false. therefore true is true so, True

In [ ]:
#(c) 0 == True 
0 == True #because 0 is False and true is true so, False (because False == True is False)

In [ ]:
#(d) 0 == False 
0 == False  #because 0 is False and False is False so, True (because False == False is True)

In [ ]:
#(e) 3 == 1 * 3 
3 == 1 * 3 #because 3*1 is 3 so, 3==3 True

In [ ]:
#(f) (3 == 1) * 3 
(3 == 1) * 3 #because (3 == 1) becomes 0 (false) and then 0 * 3 is 0

In [ ]:
#(g) (3 == 3) * 4 + 3 == 1 
(3 == 3) * 4 + 3 == 1 #because (3 == 3) is true which means 1 so, 1* 4 is 4 then 4+3 is 7 therefore 7==1 which is False

In [ ]:
#(h) 3**5 >= 4**4
3**5 >= 4**4 #it is false because 3**5 is 243 and 4**4 is 256 so, question says 243 is bigger and equal to 256 which is false

# Exercise 1.5:
Integers

Explain the output of the following statements: 
(a) 5 / 3
(b) 5 % 3
(c) 5.0 / 3
(d) 5 / 3.0 
(e) 5.2 3
(f) 2001 ** 200

In [190]:
#(a) 5 / 3 
5 / 3 # it is 1.6666666666666667 it divided 5 by 3

1.6666666666666667

In [191]:
#(b) 5 %3 
5 %3 #it checks what is the 5 modulo 3  which is 2

2

In [192]:
#(c) 5.0 / 3
5.0 / 3 # is 1.6666666666666667 it divided 5.0 by 3  so, we can float number by int in python

1.6666666666666667

In [193]:
#(d) 5 / 3.0 
5 / 3.0 # is 1.6666666666666667 it divided 5 by 3.0 we can also divide int by float

1.6666666666666667

In [194]:
#(e) 5.2% 3 is 2.2
5.2% 3 #is 2.2 it check and generate what is the 5.2 modulo 3?  which is 2.2

2.2

In [195]:
#(f) 2001 ** 200 
2001 ** 200 # it takes 2001 to the power 200 which gives very large number

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

# Exercise 1.6: 
Floats
Explain the output of the following statements: 
(a) 2000.3 ** 200 (compare with above)
(b) 1.0 + 1.0 - 1.0
(c) 1.0 + 1.0e20 - 1.0e20

In [196]:
#(a) 2000.3 ** 200 (compare with above)
2000.3 ** 200 

#above 2001 ** 200 produced large number but with 2000.3 ** 200 it gives error because python use different operation while dealing with int and float.

OverflowError: (34, 'Result too large')

In [ ]:
#(b) 1.0 + 1.0 - 1.0 is 1.0 
1.0 + 1.0 - 1.0 #is 1.0  because 1.0+ 1.0 is 2.0 so, 2.0 -1.0 is 1.0
#general way to add. and sub.

In [ ]:
#(c) 1.0 + 1.0e20 - 1.0e20 
1.0 + 1.0e20 - 1.0e20  #is 0.0 because it add first 1.0 + 1.0e20 is 1.0e20 so, 1.0e20 - 1.0e20 is 0.0

# Exercise 1.7: 
Variables

 Write a script where the variable name holds a string with your name. Then, assuming for now your name is John Doe, have the script output: Hello, John Doe! (and obviously, do not use print "Hello, John Doe!".

In [ ]:
x = 'Hello'
y = ','
z = 'John Doe!'
x +y +z

# Exercise 1.8: 
Type casting

Very often, one wants to “cast” variables of a certain type into another type. Suppose we have variable x = ‘123’, but really we would like x to be an integer.
This is easy to do in Python, just use desiredtype(x), e.g. int(x) to obtain an integer. Try the following and explain the output
(a) float(123) 
(b) float(‘123’)
(c) float(‘123.23’) 
(d) int(123.23)
(e) int(‘123.23’)
(f) int(float(‘123.23’))
(g) str(12) 
(h) str(12.2)
(i) bool(‘a’)
(j) bool(0) 
(k) bool(0.1)

In [ ]:
x= '123'

In [ ]:
#(a) float(123)
float(123)  #using float func. to get decimal value from the interger

In [ ]:
#(b) float(‘123’)
float('123') #using float func. to get value as float from string

In [ ]:
#(c) float('123.23')
float('123.23') #using float func. to get value as float number from the string decimal

In [ ]:
#(d) int(123.23)
int(123.23) # #using int func. to turn the float or decimal into int

In [ ]:
#(e) int('123.23')
int('123.23') # int never takes float number in '' single quote

In [ ]:
#(f) intfloat('123.23')
int(float('123.23')) # first always inner parenthesis works to change string into normal decimal 
                    #which is 123.23 then 123.23 into int which is 123

In [ ]:
#(g) str(12)
str(12) ##using string func. to get value as string from the interger

#(h) str(12.2)

In [ ]:
 str(12.2) #using string func. to get value as string from the decimal

#(i) bool(‘a’)

In [ ]:

 bool('a') #using boolean func. to check the value inside the () if it's empty or 0 then False other wise True

In [ ]:
#(j) bool(0)

In [ ]:

bool(0) #using boolean func. to check the value inside the () it's 0 so, False if we change 0 to 1 then True

In [ ]:
#(k) bool(0.1)

In [ ]:

 bool(0.1) ##using boolean func. to check the value inside the () is not empty nor 0 so, true